<div id="_details">
  <h1>Détails du besoin</h1>

  <div class="_field-group">
    <div class="_field-group-label">Nom du besoin</div>
    <div class="_field-group-value">Achat d'un nouveau smartphone</div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Date</div>
    <div class="_field-group-value">2 Novembre 2010</div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Priorité</div>
    <div class="_field-group-value">Maximale</div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Status</div>
    <div class="_field-group-value">[OK]</div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Description du besoin</div>
    <div class="_field-group-value">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam
      laborum placeat reprehenderit, odit magnam eligendi fugiat consectetur
      cum. Consequuntur at provident ratione velit neque eveniet ut quis
      doloribus nulla.
    </div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Montant de la dépense</div>
    <div class="_field-group-value">85,000 XAF</div>
  </div>

  <div class="_field-group">
    <div class="_field-group-label">Date de solvabilité</div>
    <div class="_field-group-value">12 Février 2011</div>
  </div>
</div>
