<!-- Besoins  -->
<div class="tables-box">
  <div class="top">
    <h2>Tous les besoins</h2>
    <!-- <button>Plus</button> -->
  </div>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date</th>
        <th>Montant (XAF)</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <!-- <tr>Priorité</tr> -->
    </thead>
    <tbody>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>
          Passport express dans les deux prochains mois pour mener à bien un
          projet crutiale ( dans huits mois)
        </td>
        <td>12 oct 2021</td>
        <td>200,000</td>
        <td>Actif</td>
        <td>
          <button class="_button small">D</button>
          <button class="_button small">M</button>
          <button class="_button small">S</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Besoins  -->
