<div id="notifications">
  <h2>(23) Notifications</h2>
  <h3 class="_text-primary">Vous avez 23 nouvelles notifications</h3>

  <div class="_list">
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
    <!-- list item -->
    <div class="_list-item">
      <!-- Notification item -->
      <div class="notification-card">
        <div class="notification-title">(3) Besoins à résoudre aujourd'hui</div>
        <div class="notification-description">
          Vous devez acheter un Smartphone, mode...
        </div>

        <div class="notification-date">à l'instant</div>
      </div>
      <!-- Notification item -->
    </div>

    <!-- list item -->
  </div>
</div>
