<h2 class="bilan-title">Bilan du mois en cours</h2>
<!-- Bilan -->
<div class="bilan">
  <!-- Card -->
  <div class="_card">
    <h3 class="_card-title">Dépenses</h3>
    <!-- Card Select -->
    <select name="expense">
      <option value="mounth">Mensuelles</option>
      <option value="day">Jounalières</option>
      <option value="year">Annuelles</option>
    </select>
    <!-- Card Select -->

    <!-- Card amount -->
    <div class="_card-amount">
      <span>5,050</span>
      <span>XFA</span>
    </div>
    <!-- Card amount -->

    <div class="_card-count"><span>55</span></div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="_card">
    <h3 class="_card-title">Besoins</h3>
    <!-- Card Select -->
    <select name="expense">
      <option value="mounth">Mensuelles</option>
      <option value="day">Jounalières</option>
      <option value="year">Annuelles</option>
    </select>
    <!-- Card Select -->

    <!-- Card amount -->
    <div class="_card-amount">
      <span>53,475</span>
      <span>XFA</span>
    </div>
    <!-- Card amount -->

    <div class="_card-count">07</div>
  </div>
  <!-- Card -->
</div>
<!-- Bilan -->

<!-- Besoins Journaliers -->
<div class="tables-box">
  <app-shared-data-table></app-shared-data-table>
</div>

<!-- Besoins Journaliers -->

<!-- Expenses & Besoin table recap-->
<div class="data-previous">
  <div class="tables-box">
    <app-shared-data-table></app-shared-data-table>
  </div>

  <div class="tables-box">
    <app-shared-data-table></app-shared-data-table>
  </div>
</div>
<!-- Expenses & Besoin table recap-->
