<!-- Besoins Journaliers -->
<!-- <div class="tables-box"> -->
<div class="top">
  <h2>Besoins de la journée</h2>
  <a href="./expenses.html" class="_button primary">Plus</a>
</div>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Date</th>
      <th>Montant (XAF)</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Laptop de travail</td>
      <td>
        Machine performante, core i5 ou core i7 avec minimum 8 Go de ram et 1 To
        de Disque dure.
      </td>
      <td>01 Jan 2022</td>
      <td>150,000</td>
      <td>Actif</td>
    </tr>

    <tr>
      <td>Laptop de travail</td>
      <td>
        Machine performante, core i5 ou core i7 avec minimum 8 Go de ram et 1 To
        de Disque dure.
      </td>
      <td>01 Jan 2022</td>
      <td>150,000</td>
      <td>Actif</td>
    </tr>

    <tr>
      <td>Laptop de travail</td>
      <td>
        Machine performante, core i5 ou core i7 avec minimum 8 Go de ram et 1 To
        de Disque dure.
      </td>
      <td>01 Jan 2022</td>
      <td>150,000</td>
      <td>Actif</td>
    </tr>

    <tr>
      <td>Laptop de travail</td>
      <td>
        Machine performante, core i5 ou core i7 avec minimum 8 Go de ram et 1 To
        de Disque dure.
      </td>
      <td>01 Jan 2022</td>
      <td>150,000</td>
      <td>Actif</td>
    </tr>
  </tbody>
</table>
<!-- </div> -->
<!-- Besoins Journaliers -->
